p{
    background-color: rgb(95, 245, 95);
}
a{
    background-color: rgb(116, 116, 255);
}
div{
    background-color: rgb(255, 255, 99);
}
span{
    background-color: rgb(253, 108, 108);
}